<!DOCTYPE html>
<html>
  <head>
    <title>Travelrecords</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-default", style="background-color: black;border-color: white;padding: 0 0 0 0;">
    <div class="container">
    <div class="row">
    <div class="col-md-12">


    <% if user_signed_in? %>
           <div class="center-block" style="padding: 0 0 25px 0;">
             <nav class="nav navbar-nav navbar-left" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                <%=link_to root_path, :style=>"color:#777;text-decoration: none;" do %>
                   <h1>TravelRecords</h1>
                <% end %>
             </nav>
             </div>


              <nav class="nav navbar-nav navbar-right" style="padding: 0 0 0 0;">
              <div id="slidemenu">
                <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn" style="padding: 0 0 0 0;" >
                    <li>
                      <%= link_to 'レビューを書く', new_play_log_path, style: "padding: 0 0 0 0;" %>
                    </li>
                    <li>
                      <%= link_to 'ログアウト', destroy_user_session_path, style: "padding: 0 0 0 0;", method: :delete %>
                    </li>
                </ul>
              </div>
            </nav>

    <% else %>
      <div class="center-block" style="padding: 0 0 25px 0;">
        <nav class="nav navbar-nav navbar-left" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn" style="margin-right: 50px;">
        <%=link_to root_path, :style=>"color:#777;text-decoration: none;" do %>
        <h1>TravelRecords</h1>
        <% end %>
        </nav>
      </div>

             <nav class="nav navbar-nav navbar-center" style="padding: 0 0 0 0;">

        </nav>
       <nav class="nav navbar-nav navbar-right" style="margin-left: 50px;padding: 0 0 0 0;">
       <div id="slidemenu">
         <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn" style="padding: 0 0 0 0;" >
              <li>
               <%= link_to 'ログイン', new_user_session_path, style: "padding: 0 15px 0 15px;" %>,
             </li>
            <li>
               <%= link_to '会員登録', new_user_registration_path, style: "padding: 0 15px 0 15px;" %>,
             </li>
          </ul>
        </div>
        </nav>
      <% end %>
    </div>
    </div>
    </div>
    </header>

    <div class="wrapper">
       <%= yield %>
    </div>

  </body>

</html>
